main > .section{
  background: #222;
}

main .navbar {
  min-height: 80px;
}

.navbar .navbar-brand {
  align-items: center;
}

main .title {
  color: #ddd;
}

.hidden {
  display: none !important;
}

div .section {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

div .notification {
  padding: 0.75em;
}

.button {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

@media screen and (max-width:480px){
.level{
  width: max-content;
}}